body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.sendMessageBtn {
    display: inline-block !important;
    text-decoration: none !important;
    background-color: #eaeaea !important;
    color: #006089 !important;
    border: 3px solid #006089 !important;
    border-radius: 5px !important;
    font-size: 16px !important;
    padding: 15px 50px !important; 
    transition: all 0.2s ease !important;
}

.sendMessageBtn:hover{
  text-decoration: none !important; 
  background-color: #006089 !important;
  color: #ffeded !important;
  border-color: #006089 !important;
}